#header{
    display: flex;
    justify-content: flex-start;
    max-height: 8vh;
    direction: row;
    flex-wrap: nowrap;
    align-content: space-between
    
}
.logoh{
    display: flex;
    justify-content: flex-start;
    max-height: 8vh;
    width: auto;
   }


.banner{
    width: 100%;
    display:block;
    height: 45vh;
    background-image: url("../resources/banner.jpg");
    background-position: 70% 50%;
}
